.main {
  min-width: 320px;
  //max-width: 1440px;
  margin: 0 auto;
  font: $main-font;
  color: $p-color;
  background-color: $bg-color;
}

.nav {
  position: fixed;  
  z-index: 2;
  top: 0;
  width: 100vw;
  background-color: $bg-color;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
  padding: 28px 120px 28px 0;
  box-sizing: border-box;
  list-style: none;
}

.nav-list__item {
  margin-left: 34px;
  font-size: 0.7em;
  line-height: 1.29;
  font-weight: 500;
}

.nav__link {
  color: $main-color;
  text-decoration: none;
}

.nav__link:hover,
.nav__link:active {
  opacity: 0.75;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1.28fr;
  justify-items: center;
  padding-top: 94px;
  width: 100%;
  margin: 0 auto;
  background-color: $bg-color;
}

.intro__left-column {
  max-width: 460px;
  padding-left: 120px;
}

.section__title {
  width: 100%;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  font: $title-font;
}

.section__subtitle {
  width: 100%;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  font-size: 0.9em;
  line-height: 1.55;
  font-weight: 400;
  color: $p-color;
  opacity: 0.7;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  background-color: #24b47e;
  border-radius: 4px;
  font-size: 0.7em;
  line-height: 1.29;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ffffff;
}

.button:hover,
.buttot:active {
  background-color: #319e75;
}

.intro__hit-product {
  margin: 0;
  padding: 0;
  margin-top: 167px;
}

.hit-product {
  position: relative;
  font-size: 0.9em;
  line-height: 1;
  font-weight: 400;
  color: $main-color;
}

.hit-product::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 224px;
  width: 132px;
  height: 2px;
  background-color: #D7D4D4;
}

.intro__right-column {
  position: relative;
  width: 100%;
  max-width: 810px;
  text-align: right;
}

.intro__hit-image {
  position: absolute; //sticky???
  bottom: 0;
  right: 370px;
  z-index: 1;
  width: 440px;
  height: 300px;
  background-color: $bg-color;
  border-radius: 20px;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.2);
  object-fit: none;
  object-position: center;
}
